body {
    background-color: #efefef;
}

h1 {
    color: darkblue;
    font-size: 2.6em;
    margin-bottom: 0.2em;
}

h3 {
    color: deepskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0px;
}

p {
    margin-top: 0.4em;
}

pre {
    color: brown;
    font-size: 1.2em;
}

small {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: gray;
}

b {
    font-family: Arial, Helvetica, sans-serif;
}

  form {
  	margin:10% 60% 0 auto;
  	padding:30px;
  	width:400px;
  	height:auto;
  	overflow:hidden;
  	background:white;
  	border-radius:10px;
  }

  form label {
  	font-size:14px;
  	color:darkgray;
  	cursor:pointer;
  }

  form label,
  form input {
  	float:left;
  	clear:both;
  }

  textarea, form input {
  	margin:15px 0;
  	padding:15px 10px;
  	width:100%;
  	outline:none;
  	border:1px solid #bbb;
  	border-radius:20px;
  	display:inline-block;
  	-webkit-box-sizing:border-box;
  	   -moz-box-sizing:border-box;
  	        box-sizing:border-box;
      -webkit-transition:0.2s ease all;
  	   -moz-transition:0.2s ease all;
  	    -ms-transition:0.2s ease all;
  	     -o-transition:0.2s ease all;
  	        transition:0.2s ease all;
  }

  form input[type=text]:focus,
  form input[type="password"]:focus {
  	border-color:cornflowerblue;
  }

  input[type=submit] {
  	padding:15px 50px;
  	width:auto;
  	background:darkgray;
  	border:none;
  	color:#000;
  	cursor:pointer;
  	display:inline-block;
  	float:right;
  	clear:right;
  	-webkit-transition:0.2s ease all;
  	   -moz-transition:0.2s ease all;
  	    -ms-transition:0.2s ease all;
  	     -o-transition:0.2s ease all;
  	        transition:0.2s ease all;
  }

  input[type=submit]:hover {
  	opacity:0.8;
  }

  input[type="submit"]:active {
  	opacity:0.4;
  }

  .forgot,
  .register {
  	margin:10px;
  	float:left;
  	clear:left;
  	display:inline-block;
  	color:cornflowerblue;
  	text-decoration:none;
  }

  .forgot:hover,
  .register:hover {
  	color:darkgray;
  }

  #logo {
  	margin:0 auto;
  	width:200px;
  	font-family:'Lily Script One', cursive;
  	font-size:30px;
  	font-weight:bold;
  	text-align:center;
  	color:lightgray;
  	-webkit-transition:0.2s ease all;
  	   -moz-transition:0.2s ease all;
  	    -ms-transition:0.2s ease all;
  	     -o-transition:0.2s ease all;
  	        transition:0.2s ease all;
  }

  #logo:hover {
  	color:cornflowerblue;
  }

a {
  color: #3f3f3f;
}

select {
  display: block;
  margin-left: 5px;
  margin-bottom: 10px;
}
